# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js Build
/.next/
/out/

# Production Build
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env*.local

# Vercel Configuration
.vercel

# IDE/System files
.DS_Store
*.pem

# Editor directories and files
.idea
.vscode
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?
